composer.phar
vendor/
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/modules.xml
.idea/php.xml
.idea/Project_Default.xml
.idea/iinasg.github.io.iml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
*.ipr
*.iws
/out/
.idea_modules/
/bootstrap/compiled.php
.env.*.php
.env.php
.env.*
.env
.vagrant
cache/*
*.lock
package-lock.json
Homestead.yaml
_ide_helper.php
.phpunit.result.cache
auth.json
.gitmodules
app/Admin/Extensions/iinasg
.phpstorm.meta.php
/dist/
_notes/
