<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bootstrap5 Template</title>
  <link href="../../css/v5/bootstrap.min.css" rel="stylesheet">
</head>
<body style="padding-top:4.5rem;">
  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <span class="h6">Bootstrap5</span>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          content
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
