<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bootstrap3 Template</title>
  <link href="../../css/v3/bootstrap.min.css" rel="stylesheet">
</head>
<body style="padding-top:70px;">
  <nav class="navbar navbar-default navbar-fixed-top" style="min-height: 40px;">
    <p style="font-weight: bold;line-height: 1.5;margin-left: 16px;margin-top: 8px;margin-bottom: 8px;font-size:16px;">Bootstrap3</p>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          content
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
